{% extends "base.html" %}
{% block content %}
    <h1 class="page-header text-center">Adarnauth Wormhole Sales</h1>
    <div class="container-fluid text-center">
        <div class="col-sm-4 col-sm-offset-4">
            <h3>How do I find a wormhole?</h3>
            <p>The latest listings are available on the front page, newest first. To find a specific system, use the Search form.</p>
        </div>
        <div class="col-sm-4 col-sm-offset-4">
            <h3>How do I buy a wormhole?</h3>
            <p>If you've found a wormhole you like, get in touch with the character who listed it, found on the listing information page.</p>
            <p>Always use a broker. There are many groups who offer brokers, CAPLF Wormhole Sales being the most famous. Adarnof will also do it if he's in-game.</p>
        </div>
        <div class="col-sm-4 col-sm-offset-4">
            <h3>How do I post a wormhole?</h3>
            <p>Once your character is online in the system you want to sell, log in to the site. Then select Add a Listing from the top bar. You'll be prompted to enter a price and comments.</p>
            <p>You may only list the system you are currently in. Your character's location can only be determined while in-game.</p>
        </div>
        <div class="col-sm-4 col-sm-offset-4">
            <h3>I want to list a system that I'm not in!</h3>
            <p>Too bad. To reduce fraud, I require you prove you're in the system.</p>
            <p>Support for adding multiple characters to an account is in development, which will eventually enable the listing of systems you have alts in.</p>
        </div>
        <div class="col-sm-4 col-sm-offset-4">
            <h3>I don't want you to have access to my character's location anymore!</h3>
            <p>Easy. Simply delete this application from the <a href="https://community.eveonline.com/support/third-party-applications/">Third Party Applications</a> section of the EVE Community Site for your character.</p>
        </div>
        <div class="col-sm-4 col-sm-offset-4">
            <h3>What powers this site?</h3>
            <p>The backend is a Django project, used as a testing platform for various technologies making their way into <a href="https://github.com/adarnof/adarnauth">Adarnauth</a>. The website was styled with Bootstrap.</p>
            <p>Currently this site is testing adarnauth-eve-sso and being used to prototype adarnauth-acl, adarnauth-core-singlechar and modelowneradmin.</p>
            <p>Read about all the apps on the <a href="https://adarnauth.tech">Adarnauth</a> site.</p>
        </div>
        <div class="col-sm-4 col-sm-offset-4">
            <h3>Who profits from this site?</h3>
            <p>Monetarily? No one. But Adarnof accepts donations.</p>
            <p>Technologically? Everyone. The more this site gets used, the more testing that can be done.</p>
            <p>You can take off your tin foil hats, this isn't a conspiracy. <em>That you know of.</em></p>
        </div>
    </div>
{% endblock %}
