{% extends "base.html" %}
{% block content %}
    <h1 class="page-header text-center">Adarnauth Wormhole Sales</h1>
    <div class="container-fluid text-center">
        <div class="col-sm-4 col-sm-offset-4">
            <h3>How do I find a wormhole?</h3>
            <p>The latest listings are available on the front page, newest first. To find a specific system, use the Search form.</p>
        </div>
        <div class="col-sm-4 col-sm-offset-4">
            <h3>How do I buy a wormhole?</h3>
            <p>If you've found a wormhole you like, get in touch with the character who listed it, found on the listing information page.</p>
            <p>Always use a broker. There are many groups who offer brokers, CAPLF Wormhole Sales being the most famous. Adarnof will also do it if he's in-game.</p>
        </div>
        <div class="col-sm-4 col-sm-offset-4">
            <h3>How do I post a wormhole?</h3>
            <p>Select Add a Listing from the top bar, and log in as the character you want to be visible on the listing. You will then be prompted to enter a system, price and comments.</p>
        </div>
        <div class="col-sm-4 col-sm-offset-4">
            <h3>What powers this site?</h3>
            <p>The backend is a Django project, used as a testing platform for various technologies making their way into <a href="https://github.com/adarnof/adarnauth">Adarnauth</a>. The website was styled with Bootstrap.</p>
            <p>Currently this site is testing adarnauth-eve-sso and being used to prototype adarnauth-acl, adarnauth-singlecharcore and modelowneradmin.</p>
            <p>Read about all the apps on the <a href="https://adarnauth.tech">Adarnauth</a> site.</p>
        </div>
        <div class="col-sm-4 col-sm-offset-4">
            <h3>Who profits from this site?</h3>
            <p>Monetarily? No one. But Adarnof accepts donations.</p>
            <p>Technologically? Everyone. The more this site gets used, the more testing that can be done.</p>
        </div>
    </div>
{% endblock %}
