{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="EVE Wormhole Sales">
    <meta name="author" content="Adarnof">

    <title>{% block title %}Adarnauth Wormhole Sales{% endblock title %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <style>
        {% block extra_css %}
        {% endblock extra_css %}
    </style>
    <style>
        .nodecoration:hover {
            text-decoration: none;
        }
        .longtext {
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            word-wrap: break-word;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
        {% block extra_script %}
        {% endblock extra_script %}
    </script>
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">Adarnauth Wormhole Sales</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sell Orders <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'listings_panel' %}">Newest</a></li>
                                <li><a href="{% url 'add_listing' %}">Create Order</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Buy Orders <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'wanted_panel' %}">Newest</a></li>
                                <li><a href="{% url 'add_wanted' %}">Create Order</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'search' %}">Search</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'about' %}">About</a></li>
                        {% if user.is_staff %}
                            <li><a href="{% url 'admin:index' %}">Admin</a></li>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'user_listings' %}">My Listings</a></li>
                            <li><a href="{% url 'singlecharcore:logout' %}">Logout</a></li>
                        {% else %}
                            <li><a href="{% url 'singlecharcore:login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div id="page-wrapper">
            {% block content %}
                <div class="alert alert-danger" role="alert">There's nothing here...</div>
            {% endblock content %}
        </div>
    </div>
</body>
</html>
