{% extends "base.html" %}
{% load humanize %}
{% block content %}
    <div class="container-fluid">
        <div class="col-med-12 text-center">
            <h1>{{ listing.system }}</h1>
        </div>
        <div class="col-md-2">
            <div class="panel panel-primary">
                <div class="panel-heading">System</div>
                <table class="table">
                    <tr>
                        <th class="text-center">Class</th>
                        <td class="text-center">{{ listing.system.wormhole_class }}</td>
                    </tr>
                    <tr>
                        <th class="text-center">Effect</th>
                        <td class="text-center">{{ listing.system.effect }}</td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <a class="label label-success" type="button" href="http://evemaps.dotlan.net/system/{{ listing.system }}">Dotlan</a>
                        </td>
                        <td class="text-center">
                            <a class="label label-danger" type="button" href="https://zkillboard.com/system/{{ listing.system.id }}">zKillboard</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <a class="label label-primary" type="button" href="http://eveplanets.com/eve/system/index/?show={{ listing.system }}">EvePlanets</a>
                        </td>
                        <td class="text-center">
                            <a class="label label-warning" type="button" href="#">wh.pasta.gg</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        {% for static in listing.system.statics.all %}
            <div class="col-md-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">Static {{ static.name }}</div>
                    <table class="table">
                        <tr>
                            <th class="text-center">Destination</th>
                            <td class="text-center">{{ static.destination }}</td>
                        </tr>
                        <tr>
                            <th class="text-center">Lifetime</th>
                            <td class="text-center">{{ static.lifetime }} hours</td>
                        </tr>
                        <tr>
                            <th class="text-center">Total Mass</th>
                            <td class="text-center">
                                <a class="nodecoration" href="#" data-toggle="tooltip" data-placement="top" title="{{ static.mass|intcomma|add:',000,000 kg'}}">
                                    {{ static.mass|intcomma|add:",000 t" }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">Jumpable</th>
                            <td class="text-center">
                                <a class="nodecoration" href="#" data-toggle="tooltip" data-placement="top" title="{{ static.jumpable|intcomma|add:',000,000 kg'}}">
                                    {{ static.jumpable|intcomma|add:",000 t" }}
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        {% endfor %}
        <div class="col-md-2">
            <div class="panel panel-primary">
                <div class="panel-heading">Listing</div>
                <table class="table">
                    <tr>
                        <th class="text-center">Poster</th>
                        <td class="text-center"><a href="https://evewho.com/pilot/{{ listing.owner }}">{{ listing.owner }}</a></td>
                    </tr>
                    <tr>
                        <th class="text-center">Listed</th>
                        <td class="text-center">
                            <a class="nodecoration" href="#" data-toggle="tooltip" data-placement="top" title="{{ listing.created }}">
                                {{ listing.created|naturaltime }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center">Price</th>
                        <td class="text-center">
                            <a class="nodecoration" href="#" data-toggle="tooltip" data-placement="top" title="{{ listing.price|intcomma }} ISK">
                                {{ listing.price|intword }}
                            </a>
                        </td>
                    </tr>
                    {% if listing.sold %}
                        <tr>
                            <th class="text-center">Sold</th>
                            <td class="text-center">{{ listing.sold|naturaltime }}</td>
                        </tr>
                    {% else %}
                        {% if listing.owner == request.user %}
                            <tr>
                                <td class="text-center">
                                    <a class="label label-success" type="button" href="{% url 'mark_sold' listing.pk %}">Mark Sold</a>
                                </td>
                                <td class="text-center">
                                    <a class="label label-danger" type="button" href="{% url 'delete_listing' listing.pk %}">Delete</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Comments</div>
                <div class="panel-body longtext">{{ listing.notes|linebreaks }}</div>
            </div>
        </div>
    </div>
{% endblock content %}
