django>=1.10,<2.0
git+https://github.com/adarnof/adarnauth-eve-sso
django_extras
requests
django-bootstrap-form
django-bootstrap-pagination
git+https://github.com/adarnof/adarnauth-singlecharcore
mysql-python
